black==25.1.0
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
pylint==4.0.5
pytest==8.3.5
python-dotenv==1.0.0
python-json-logger==4.1.0
ruff==0.11.2
s3fs==2026.3.0
scipy==1.15.2
statsmodels==0.14.4
streamlit==1.42.0
